<style>
    body {
        margin-top: 20px;
        background: #eee;
    }

    /* My Account */
    .payments-item img.mr-3 {
        width: 47px;
    }

    .order-list .btn {
        border-radius: 2px;
        min-width: 121px;
        font-size: 13px;
        padding: 7px 0 7px 0;
    }

    .osahan-account-page-left .nav-link {
        padding: 18px 20px;
        border: none;
        font-weight: 600;
        color: #535665;
    }

    .osahan-account-page-left .nav-link i {
        width: 28px;
        height: 28px;
        background: #535665;
        display: inline-block;
        text-align: center;
        line-height: 29px;
        font-size: 15px;
        border-radius: 50px;
        margin: 0 7px 0 0px;
        color: #fff;
    }

    .osahan-account-page-left .nav-link.active {
        background: #f3f7f8;
        color: #282c3f !important;
    }

    .osahan-account-page-left .nav-link.active i {
        background: #282c3f !important;
    }

    .osahan-user-media img {
        width: 90px;
    }

    .card.offer-card h5.card-title {
        border: 2px dotted #000;
    }

    .card.offer-card h5 {
        border: 1px dotted #daceb7;
        display: inline-table;
        color: #17a2b8;
        margin: 0 0 19px 0;
        font-size: 15px;
        padding: 6px 10px 6px 6px;
        border-radius: 2px;
        background: #fffae6;
        position: relative;
    }

    .card.offer-card h5 img {
        height: 22px;
        object-fit: cover;
        width: 22px;
        margin: 0 8px 0 0;
        border-radius: 2px;
    }

    .card.offer-card h5:after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid #daceb7;
        content: "";
        left: 30px;
        position: absolute;
        bottom: 0;
    }

    .card.offer-card h5:before {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #daceb7;
        content: "";
        left: 30px;
        position: absolute;
        top: 0;
    }

    .payments-item .media {
        align-items: center;
    }

    .payments-item .media img {
        margin: 0 40px 0 11px !important;
    }

    .reviews-members .media .mr-3 {
        width: 56px;
        height: 56px;
        object-fit: cover;
    }

    .order-list img.mr-4 {
        width: 70px;
        height: 70px;
        object-fit: cover;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
        border-radius: 2px;
    }

    .osahan-cart-item p.text-gray.float-right {
        margin: 3px 0 0 0;
        font-size: 12px;
    }

    .osahan-cart-item .food-item {
        vertical-align: bottom;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #000000;
    }

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }

    .rounded-pill {
        border-radius: 50rem !important;
    }

    a:hover {
        text-decoration: none;
    }

    @keyframes fadeInOut {
        0%,
        100% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    .order-status.processing-animation {
        animation: fadeInOut 5s ease infinite;
    }
</style>


<link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css"
    integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">

<%- include('../partials/user/header') %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!-- Card Section -->
            <div class="osahan-account-page-left shadow-sm bg-white h-100">
                <div class="border-bottom p-4">
                    <div class="osahan-user text-center">
                        <div class="osahan-user-media">
                            <img src="<%= user.profile %>" alt="User Profile Picture" class="rounded-circle"
                                style="height: 80px; width: 80px; object-fit: cover;">
                            <div class="osahan-user-media-body">
                                <h2 class="mb-2">
                                    <%= user.name %>
                                </h2>
                                <p class="mb-1">
                                    <%= user.phone %>
                                </p>
                                <p>
                                    <%= user.email %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                        <h4 class="font-weight-bold mt-0 mb-4">Orders</h4>

                        <!-- Order Section -->
                        <% if (orders.length > 0) { %>
                            <% orders.forEach(order => { %>
                                <div class="bg-white card mb-4 order-list shadow-sm">
                                    <div class="gold-members p-4">
                                        <!-- Product Section -->
                                        <% if (order.products && order.products.length > 0) { %>
                                            <% order.products.forEach(product => { %>
                                                <div class="media">
                                                    <a href="/order-history?orderId=<%= order._id %>">
                                                        <img class="mr-4" src="<%= product.product.images[0] %>"
                                                            alt="Product Image">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="/order-history?orderId=<%= order._id %>">
                                                            <% if (!order.isCancelled) { %>
                                                                <% if (order.status === 'Processing') { %>
                                                                    <span class="float-right text-info order-status processing-animation">
                                                                        <%= order.status %>
                                                                        <i class="icofont-check-circled text-success"></i>
                                                                    </span>
                                                                <% } else { %>
                                                                    <span class="float-right text-info order-status">
                                                                        <%= order.status %>
                                                                        <i class="icofont-check-circled text-success"></i>
                                                                    </span>
                                                                <% } %>
                                                            <% } %>
                                                        </a>
                                                        <h6 class="mb-2">
                                                            <a href="/order-history?orderId=<%= order._id %>"
                                                                class="text-black">
                                                                <%= product.product.productName %>
                                                            </a>
                                                        </h6>
                                                        <p class="text-gray mb-1"><i
                                                                class="icofont-location-arrow"></i>
                                                            <%= order.deliveryAddress.address %>
                                                        </p>
                                                        <p class="text-gray mb-3"><i class="icofont-list"></i> ORDER
                                                            #<%= order.orderId %> <i
                                                                class="icofont-clock-time ml-2"></i>
                                                            <%= order.orderDate.toLocaleDateString() %>
                                                        </p>
                                                        <p class="text-dark">
                                                            <%= product.quantity %> x <%= product.product.productName %>
                                                        </p>
                                                    </div>
                                                </div>
                                                <hr>
                                            <% }); %>
                                        <% } else { %>
                                            <p>No products in this order.</p>
                                        <% } %>
                                        <div class="float-right">
                                            <% if (order.status === 'Delivered') { %>
                                                <% if (!order.isReturn) { %>
                                                    <button type="button" class="btn btn-sm btn-primary"
                                                        data-toggle="modal"
                                                        data-target="#returnModal<%= order._id %>">
                                                        <i class="icofont-refresh"></i> RETURN
                                                    </button>
                                                <% } else { %>
                                                    <% if (order.returnRequested === 'Complete') { %>
                                                        <span class="text-success">Return Completed</span>
                                                    <% } else { %>
                                                        <span class="text-warning">Return Requested: <%= order.returnRequested %></span>
                                                    <% } %>                                                    
                                                <% } %>                                                
                                                <div class="modal fade"
                                                    id="returnModal<%= order._id %>"
                                                    tabindex="-1" role="dialog"
                                                    aria-labelledby="returnModalLabel<%= order._id %>"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="returnModalLabel<%= order._id %>">Return Order
                                                                </h5>
                                                                <button type="button" class="close"
                                                                    data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form action="/return-order" method="post">
                                                                <input type="hidden" name="orderId"
                                                                    value="<%= order._id %>">
                                                                <div class="modal-body">
                                                                    <p>Select a reason for return:</p>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="returnReason" id="wrongItem<%= order._id %>"
                                                                            value="wrong_item" required>
                                                                        <label class="form-check-label"
                                                                            for="wrongItem<%= order._id %>">Wrong Item Received
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="returnReason" id="defectiveItem<%= order._id %>"
                                                                            value="defective_item" required>
                                                                        <label class="form-check-label"
                                                                            for="defectiveItem<%= order._id %>">Defective Item
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="returnReason" id="sizeIssue<%= order._id %>"
                                                                            value="size_issue" required>
                                                                        <label class="form-check-label"
                                                                            for="sizeIssue<%= order._id %>">Size Issue
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="returnReason" id="notAsDescribed<%= order._id %>"
                                                                            value="not_as_described" required>
                                                                        <label class="form-check-label"
                                                                            for="notAsDescribed<%= order._id %>">Not as Described
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="returnReason" id="changedMind<%= order._id %>"
                                                                            value="changed_mind" required>
                                                                        <label class="form-check-label"
                                                                            for="changedMind<%= order._id %>">Changed Mind
                                                                        </label>
                                                                    </div>

                                                                    <div class="mt-3">
                                                                        <label for="returnComment<%= order._id %>">Optional Comment:</label>
                                                                        <textarea class="form-control" id="returnComment<%= order._id %>"
                                                                            name="returnComment" rows="3"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-primary">Confirm
                                                                        Return</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } else { %>
                                                <% if (!order.isCancelled) { %>
                                                    <button type="button" class="btn btn-sm btn-primary"
                                                        data-toggle="modal"
                                                        data-target="#cancelModal<%= order._id %>">
                                                        <i class="icofont-refresh"></i> CANCEL
                                                    </button>
                                                <% } else { %>
                                                    <p class="text-danger">Cancelled</p>
                                                <% } %>
                                                <div class="modal fade"
                                                    id="cancelModal<%= order._id %>"
                                                    tabindex="-1" role="dialog"
                                                    aria-labelledby="cancelModalLabel<%= order._id %>"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="cancelModalLabel<%= order._id %>">Cancel Order
                                                                </h5>
                                                                <button type="button" class="close"
                                                                    data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form action="/cancel-order" method="post">
                                                                <input type="hidden" name="orderId"
                                                                    value="<%= order._id %>">
                                                                <div class="modal-body">
                                                                    <p>Select a reason for cancellation:</p>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="cancelReason" id="changeOfMind<%= order._id %>"
                                                                            value="change_of_mind" required>
                                                                        <label class="form-check-label"
                                                                            for="changeOfMind<%= order._id %>">Change of Mind
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="cancelReason" id="priceTooHigh<%= order._id %>"
                                                                            value="price_too_high" required>
                                                                        <label class="form-check-label"
                                                                            for="priceTooHigh<%= order._id %>">Price Too High
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="cancelReason" id="itemUnavailable<%= order._id %>"
                                                                            value="item_unavailable" required>
                                                                        <label class="form-check-label"
                                                                            for="itemUnavailable<%= order._id %>">Item Unavailable
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="cancelReason" id="deliveryIssues<%= order._id %>"
                                                                            value="delivery_issues" required>
                                                                        <label class="form-check-label"
                                                                            for="deliveryIssues<%= order._id %>">Delivery Issues
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="cancelReason" id="otherReason<%= order._id %>"
                                                                            value="other_reason" required>
                                                                        <label class="form-check-label"
                                                                            for="otherReason<%= order._id %>">Other Reason
                                                                        </label>
                                                                    </div>

                                                                    <div class="mt-3">
                                                                        <label for="cancelComment<%= order._id %>">Optional Comment:</label>
                                                                        <textarea class="form-control" id="cancelComment<%= order._id %>"
                                                                            name="cancelComment" rows="3"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-primary">Confirm
                                                                        Cancel</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                        <p class="mb-0 text-black text-primary pt-2"><span
                                                class="text-black font-weight-bold"> Total Paid:</span>
                                            <%= order.totalAmount %>
                                        </p>
                                    </div>
                                </div>
                            <% }); %>
                        <% } else { %>
                            <p>No orders available.</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/user/footer') %>
