<%- include('../partials/user/header') %>

<!-- Content page -->
<section class="bg0 p-t-75 p-b-120 mainSec">
    <div class="container">
        <main class="container mt-4">
            <section class="profile">
                <div class="row mb-3" style="margin-top: 10px;">
                    <div class="col-md-4 text-center">
                        <div class="col-sm-10 container text-center">
                            <% if(!user.profile) { %>
                                <img src="/img/defaultPP.jpg" alt="User Profile Picture" class="img-fluid rounded-circle" style="height: 200px; width: 200px; margin-left: -53px;">
                            <form action="/profile/editPhoto?_method=PATCH" method="post" enctype="multipart/form-data">
                              <input type="file" accept="image/*" name="image" class="form-control file-upload-info" placeholder="Upload Image" id="preview-input" required/>
                              <button type="submit" class="btn btn-primary profile-button" style="margin-top: 15px;">Update profile</button><br>
                            </form> 
                            <% } else { %>
                                <div class="text-center">
                                    <img src="<%= user.profile %>" alt="User Profile Picture" class="img-fluid rounded-circle" style="height: 200px; width: 200px; margin-left: -10px;">
                                    <div class="mt-3">
                                        <a href="/profile/deletePhoto" class="btn btn-danger profile-button">Remove profile photo</a>
                                    </div>
                                    <form action="/profile/editPhoto?_method=PATCH" method="post" enctype="multipart/form-data" class="mt-3">
                                        <input type="file" accept="image/*" name="image" class="form-control file-upload-info" placeholder="Upload Image" id="preview-input" required/>
                                        <button type="submit" class="btn btn-primary profile-button" style="margin-top: 15px;">Update profile</button>
                                    </form>
                                </div>
                            <% } %>
                            
                        </div>
                    </div>
                    <div class="col-md-8" style="margin-top: 10px;">
                        <h1 class="profile-name"><%= user.name %></h1>
                        <p class="profile-email mt-2">Email: <%= user.email %></p>
                        <p class="profile-mobile mt-2">Mobile: <%= user.phone %></p>
                        <br>
                        <div style="margin-top: 10px;">
                            <a href="/edit-profile?id=123" class="btn btn-outline-primary profile-button" id="edit-profile-button">Edit Profile</a>
                            <a href="/order" class="btn btn-dark profile-button" id="edit-profile-button">My Orders</a>
                        </div> <br>
                        <div style="margin-top: 8px;">
                            <a href="/change-password" class="btn btn-primary btn-sm">Change Password</a>
                        </div>
                        <section class="bg-light p-4" style="margin-top: 20px;">
                            <h2 class="mb-4">Addresses</h2>
                            <div class="row">
                                <!-- Add Address Button -->
                                <div class="col-md-12 ">
                                    <a href="/add-address" class="btn btn-success" id="add-address-button">Add Address</a>
                                </div>
                                <!-- Sample address card -->
                                <div class="col-md-6 mb-4 mt-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Address 1</h5>
                                            <p class="card-text">123 Main St, District XYZ, State ABC, Country PQR</p>
                                            <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                            <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Add more addresses here... -->
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </main>
    </div>
</section>


<%- include('../partials/user/footer') %>