<%- include('../partials/user/header') %>

<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="/shop" method="GET" class="form-inline">
                            <div class="form-group">
                                <input type="text" name="query" placeholder="Search..." value="<%= searchQuery || '' %>" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-dark">
                                <span class="icon_search"></span>
                            </button>
                        </form>
                    </div>                                    
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div>
                                <div class="shop__sidebar__categories">
                                    <form action="shop" method="GET" class="form-inline">
                                        <div class="form-group">
                                            <select name="category" class="form-control mr-2">
                                                <option value="">All Categories</option>
                                                <% for (const category of categories) { %>
                                                <option value="<%= category._id %>" <%= selectedCategory === category._id ? 'selected' : '' %>><%= category.category%></option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-dark">Filter</button>
                                    </form>
                                    
                                </div>
                            </div>
                                                        
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="shop__product__option"></div>
                <div class="row">
                    <% for (i = 0; i < products.length; i++) { %>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="<%= products[i].images[0] %>">
                                    <a href="/productDetail?id=<%= products[i]._id %>">
                                        <img src="<%= products[i].images[0] %>" alt="Product Image">
                                    </a>
                                    <ul class="product__hover">
                                        <% const isInWishlist = user && user.wishlist ? user.wishlist.some(wishlistItem => wishlistItem.product.equals(products[i]._id)) : false; %>
                                        
                                        <% if (isInWishlist) { %>                                            
                                            <li><a href="/delete-wishlist?id=<%= products[i]._id %>"><img src="img/icon/compare.png" alt=""></a></li>
                                        <% } else { %>                                            
                                            <li><a href="/addToWishlist?id=<%= products[i]._id %>"><img src="img/icon/heart.png" alt=""></a></li>
                                        <% } %>
                                    </ul>                                    
                                </div>
                    
                                <div class="product__item__text">
                                    <h6><%= products[i].productName %></h6>
                    
                                    <% const isInCart = user && user.cart ? user.cart.some(cartItem => cartItem.product.equals(products[i]._id)) : false; %>
                                    <% if (isInCart) { %>
                                        <a href="/cart" class="add-cart">Go To Cart</a>
                                    <% } else if (products[i].quantity == 0) { %>
                                        <a class="add-cart">Out of Stock</a>
                                    <% } else { %>
                                        <a href="/addToCart?id=<%= products[i]._id %>" class="add-cart">+ Add To Cart</a>
                                    <% } %>
                                    
                                    <% if(products[i].offer!==null&&products[i].offer!==0){ %>    
                                        <h5>
                                            <s style="color: #fa4251; font-size: smaller">₹<%= products[i].price %></s> ₹<%= Math.round(products[i].price - (products[i].price * products[i].offer) /100) %>
                                          </h5>                                                                         
                                        <%  }else{ %>
                                            <h5>₹<%= products[i].price %></h5>
                                    <% } %>                                    
                                </div>
                            </div>
                        </div>
                    <% } %>                    
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/user/footer') %>
</body>
</html>
